<html>
    <head>
        <title>Login Here</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body class="container">
        <div class="page-header">
            <h1>Hi, <%= user %> </h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h4><a href="/group/add/<%= data.id %>">Create Group</a></h4> <br>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
         </style>

        <h3>Your Group</h3>
        <table>
            <th>Group</th>
            <th>Action</th>

            <% datas[0].Groups.forEach(el => { %>
                <tr>
                    <td> <%= el.name %> </td>
                    <td> <a href="/group/member/<%= el.id %>">Enter</a></td>
                </tr>
          <%  }) %> 

        </table>



    </body>
</html>