<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee><h2>Welcome to Ldr_Meeting</h2></marquee>
    <h2>Login</h2>
    <form action="/user/login" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username"><br><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <h4> <a href="/user/register">create new Account</a></h4>
</body>
</html>