<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <%= msg %> 
    <form action="/user/add" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="jhon_doe" required><br><br>
        <label for="email">email</label><br>
        <input type="email" name="email" placeholder="example@mail.com" required><br><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br><br>
        <label for="confirm">confirmation</label><br>
        <input type="password" name="confirm"><br><br>
        <input type="submit" value="register" required>
    </form>
    <a href="/user/login"><h4>Back</h4></a>
</body>
</html>